body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Questrial', sans-serif;
}

h1 {
    font-size: 56px !important;
    text-align: left;
    margin: 0;
}

h2 {
    font-size: 48px !important;
    margin-bottom: 20px;
}

.navbar, .navbar-nav, .navbar-nav .nav-item .nav-link, .navbar-light .navbar-toggler, .navbar-light .navbar-toggler-icon {
    font-family: 'Questrial', sans-serif;
    color: white !important;
    border-color: white !important;
}

.navbar {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.nav-item .nav-link {
    font-size: 28px;
    transition: color 0.3s ease;
    display: block;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.navbar-light .navbar-toggler {
    border-color: white !important;
    color: white !important;
}

.navbar-light .navbar-toggler-icon::before,
.navbar-light .navbar-toggler-icon::after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 0;
    color: white !important;
}

.navbar-light .navbar-toggler-icon::before {
    top: 7px;
}

.navbar-light .navbar-toggler-icon::after {
    top: 17px;
}

.nav-item .nav-link:hover {
    color: #be9dff !important;
}

.section1 {
    background: url('img/01.png') no-repeat right bottom;
    background-size: cover;
    width: 100vw;
    height: 100%;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 100px 20px;
}

.contentsection1 {
    font-size: 55px;
    text-align: left;
    margin: 0;
    margin-top: 100px;
}

.section2 {
    background: url('img/03.png') no-repeat center top/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .main-image {
        content: url('img/06.png');
    }

    .mobile-extra-image {
        display: block;
        margin-top: 20px;
        width: 100%;
    }

    .col-md-6 {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .mobile-extra-image {
        display: none;
    }

    .texts4 {
        margin-top: 100px;
        padding-right: 120px !important;
    }
}

.text-box {
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 60px;
    border-radius: 20px;
    color: white;
    max-width: 600px;
    text-align: left;
    z-index: 1;
    
}

.text-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.061);
    padding: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.022), rgba(255, 255, 255, 0));
}


.text-box2 {
    margin: 50px auto; 
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white !important;
    text-align: center;
    z-index: 1;
    box-sizing: border-box; 
}

.text-box2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.061);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.022), rgba(255, 255, 255, 0));
    z-index: -1; 
}

.gradient-button {
    background: linear-gradient(to right, #004aad, #cb6ce6);
    color: white;
    padding: 5px 50px;
    border-radius: 55px;
    text-transform: uppercase;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 5px;
    border: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin: 0 auto;

}

.gradient-button:hover {
    font-size: 1.5rem;
}

.search-bar, .calendar-input {
    width: 60%;
    background: transparent;
    border: 1px solid white; 
    border-radius: 80px;    
    color: white !important;            
    padding: 5px 20px!important;
    font-size: 16px;
    outline: none;
    }
    


.search-bar:focus, .calendar-input:focus {
    border-color: #cb6ce6;
}

.section3 {
    background: url('img/04.png') no-repeat center bottom;
    background-color: black;
    height: 70vh;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color: white;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn-search {
    background-color: #ffffff !important;
    border-radius: 80px !important;
    color: rgb(0, 0, 0) !important;
    padding: 12px !important;
    width: 25%;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-search:hover {
    background-color: #cb6ce6;
}

.text-center {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.section4 {
    background: url('img/08.png') no-repeat center top;
    background-color: black;
    height: auto;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 50px 20px;
    color: white;
    flex-direction: column;
    text-align: left !important;
}

.d-flex.align-items-center {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
}

.list-box {
    display: flex;
    align-items: center !important;
    margin-bottom: 20px;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.list-box h4 {
    color: white;
    font-size: 20px;
    margin: 0;
}

.list-box p {
    color: #ddd;
    font-size: 16px;
    margin: 5px 0 0;
}

.image-gallery {
    margin-top: 150px;
}

.image-gallery .col-6 {
    padding: 20px;
}

@media (max-width: 768px) {
    .section4 {
        height: auto;
    }

    .image-gallery .col-6 {
        padding: 10px;
    }
}

.section5 {
    background: url('img/13.png') no-repeat center top/cover;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 50px;
    color: white !important;
    flex-direction: column;
}



.modal-dialog {
    width: 80% !important;
    max-width: 80% !important;
    height: 80% !important;
    margin: 10% auto;
}

.modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.close {
    font-size: 2rem;
    color: #fff;
    border: none;
    background: transparent;
}

.close-icon {
    font-size: 1.5rem;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 0;
    overflow-y: auto;
    flex-grow: 1;
}

.modal-text {
    flex: 1;
    padding-right: 20px;
    text-align: left;
    margin-top: 20px;
}

.favorite-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.favorite-image-container {
    width: 300px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.favorite-image-container .heart-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
}

.favorite-image-container .heart-icon-img {
    width: 30px;
    height: 30px;
}

.image-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#largeImageModal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
}

#largeImageModal .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-custom-bg {
    background: url('img/14.png') no-repeat center center/cover;
    color: white;
    padding: 50px;
    background-size: cover;
}

@media (max-width: 768px) {
    .modal-dialog {
        margin-top: 10%;
        width: 90% !important;
        max-width: 90% !important;
        height: auto !important;
    }

    .modal-body {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        overflow-y: auto;
        height: auto;
    }

    .modal-text {
        order: 1;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 20px;
        margin-top: 0;
    }

    .favorite-box {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .favorite-image-container {
        width: 100%;
        height: auto;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-title {
        font-size: 1.5rem;
    }

    .modal-text p {
        font-size: 1rem;
    }

    .modal-dialog.modal-lg {
        max-width: 100%;
        height: auto;
    }
}


.sectionfav {
    background: url('img/16.png') center top/cover;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    padding-bottom: 200px;
}

.favorite-box {
    border-radius: 20px;
    color: white;
}



.titlefav{
    margin-bottom: 100px;
    margin-top: 100px;

}

.favorite-box {
    position: relative;
    overflow: hidden;
}




button.btn-danger {
    position: absolute;
    top: 10px;
    right: 10px;
}
